.container {
    display: flex;
    align-items: center;
    background-color: powderblue;
    justify-content: space-around;
}

/* Mobile Queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
        flex-direction: column;
    }
}