.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.content {
    background-color: powderblue;
    text-align: center;
}

button {
    position: relative;
    top: 100px;
    border: none;
    color: white;
    background-color: #bc252a;
    padding: 10px;
    border-radius: 5px;
}

/* Mobile Queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
        flex-direction: column;
    }
}